/****** Object:  Table [dbo].[user_widgets]    Script Date: 19/09/2019 01:38:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_widgets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [int] NULL,
	[vista] [int] NULL,
	[licencia] [int] NULL
) ON [PRIMARY]

GO
