/*By Jenice ♥*/
/*Busqueda y ordenamiento*/
.sort thead th:last-child{
    text-align: center;
}
.sort tr td:last-child{
    text-align: right;
    width: 10px;
}
.sort tr td:last-child a
{
    display: table-cell;
    padding: 0 3px;
}
.sort thead th[data-col] {
    color: #008cba;
    text-decoration: none;
    cursor: pointer;
}
.sort thead th[data-col]:hover,
.sort thead th[data-col]:focus {
    color: #008cba;
    text-decoration: underline;
}
.sort thead th[data-col]:focus {
    outline-offset: -2px;
}

.busqueda{
    border: 1px solid #c8c8c8  !important;
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: inset 0px 0px 1px #cfcfcf ;
    height: 30px;
}
.btn-buscar{
    padding: 5px;
    cursor: pointer;
    border: none;
    background: none;
    color: #286090 ;
}
.btn-buscar:hover{
    color: #337AB7 ;
}
/*Busqueda y ordenamiento 2 (CXC)*/
.rowTotales th:first-child{
    text-align: center;
}
.sortCC thead th:last-child{
    text-align: center;
}
.sortCC tr td:last-child{
    text-align: right;
}
.sortCC td:not(.noSort){
    padding-left: 15px !important;
}
.sortitos{
    color: rgb(171, 171, 171);
    cursor: pointer;
}
.iga-sort:hover .sortitos{
    color: #337AB7 ;
}
.sortitos.active{
    color: #337AB7 ;
}
.clicSearch{
    cursor: pointer;
}

.sortCC thead th .input-mini{
    border-radius: 4px 0 0 4px;
    padding-left: 4px;
    border: 1px solid #ccc;
    height: 28px;
}
.sortCC thead th .input-group-addon{
    padding: 0 5px;
}
.sortCC thead th .iga-times{
    background:#fff !important;
    border-left:none !important;
}
.sortCC thead th .input-mini{
    box-shadow:none !important;
    border-right:none !important;
    width: 100%;
}
.sortCC thead th .input-group-addon .fa-times{
    cursor:pointer;
    color:#fff;
}
.sortCC thead th .input-mini:focus,
.sortCC thead th .input-mini:focus + .input-group-addon{
    border-color: #66afe9;
    outline: 0;
}
.sortCC thead th .input-group-addon:hover .fa-times,
.sortCC thead th .input-mini:hover + .input-group-addon .fa-times{
    color: #ccc;
}
/*Dinero*/
.dinero,.cant{
    text-align:right;
}
.dinero:not(.noSort){
    padding-right:30px !important;
}

.rowTotales th, .rowTotales td{
    background: #CDCCCC !important;

}

/*CXC*/
tr.linea-roja {
    background-color: rgb(255, 224, 224) !important
}
tr.letras-rojas td {
    color: red !important
}
/*FILTERINPUT*/
.filterUl{
    display: inline-block;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: absolute;
    width: 90%;
    z-index: 20;
    overflow: auto;
    max-height: 200px;
    top:58px;
    left: 17px;
}
.filterUl li{
    list-style: none;
    cursor: pointer;
    padding: 6px 12px;
}
.filterUl li:hover, .selected{
    list-style: none;
    background: #f8f8f8;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.fa-asterisk{
    color: red !important;
}
iframe{
    border: 1px solid #ccc;
}
.right{
    text-align: right;
    padding-right: 30px !important;
}
.sortAjax thead th[data-col] {
    color: #008cba;
    text-decoration: none;
    cursor: pointer;
}
.sortAjax thead th[data-col]:hover,
.sortAjax thead th[data-col]:focus {
    color: #008cba;
    text-decoration: underline;
}
.sortAjax thead th[data-col]:focus {
    outline-offset: -2px;
}