/****** Object:  Table [dbo].[vucemAduana]    Script Date: 19/09/2019 01:38:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vucemAduana](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vucem_id] [int] NULL,
	[aduana_id] [int] NULL
) ON [PRIMARY]

GO
